.container {
  border: 1px solid red;
  background-color: rgb(252, 203, 203);
  color: red;
  padding: 10px;
  border-radius: 5px;
}

.container>p {
  margin: 0;
}

.list {
  padding: 0;
  padding-left: 20px;
  margin: 0;
}