.textarea {
  border: 1px solid #ffd900;
  padding: 0.5em;
  color: black;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  resize: vertical;
  font-size: inherit;
  min-height: 2.5em;
}

.label {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}